*{
	margin: 0;
	padding: 0;
	font-family: sans serif;
}
.container-fluid{
	background-color: #333;
}
.container-fluid1{
	background-color: #fff;	
}
.profile p{
	position:absolute;
	top: 40%;
	right: 145px;
}
.profile-picture{
	position: absolute;
	bottom:15px;
	right: 95px;
}
.profile-text{
	position:absolute;
	top: 40%;
	right: 45px;
	color:#fff;
}

#undo-button{
	color: #333;
	position: absolute;
	left: 80px;
}
#redo-button{
	color: #333;
	position: absolute;
	left: 120px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("background1.jpeg");
  background-size: cover;
  background-position: center;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: auto;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 250px;
  margin: 0 40px;
}